html {
  box-sizing: border-box;
  height: 100%;
}

body {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
	height: 9vh;
}

nav {
	padding-left: 1em !important;
}

main {
  height: calc(90vh - 2em);
}

footer {
  height: 1vh;
}

h1,
h2,
ul,
p {
  margin: 0;
}

header,
nav,
main,
footer {
  padding: 1em;
}

#layout {
  display: grid;
  height: 100%;
}

#layout {
  grid-template-areas: "header header header header"
                       "nav  main main main"
                       "footer footer footer footer"
}

#layout > header {
  grid-area: header;
}

#layout > nav {
  grid-area: nav;
}

#layout > main {
  grid-area: main;
}

#layout > footer {
  grid-area: footer;
}
