html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {}

nav {
	padding-left: 1em !important;
}

main {}

footer {}

h1,
h2,
ul,
p {
  margin: 0;
}

header,
nav,
main,
footer {
  padding: 1em;
}

#layout {
  display: grid;
}

#layout {
  grid-template-areas: "header header header"
                       "nav  main main"
                       "footer footer footer"
}

#layout > header {
  grid-area: header;
}

#layout > nav {
  grid-area: nav;
}

#layout > main {
  grid-area: main;
}

#layout > footer {
  grid-area: footer;
}
